.header{
  padding: 50px 0px 85px 0px;
  &-nav{
    padding: 6px 0px 0px 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__link{
      @extend %header-links;
    }
  }
  &-helper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-phone{
    padding: 6px 0px 0px 20px;
    display: inline-block;
  }
  &-number{
    @extend %header-links;
  }
}