/*Main text colors*/
$header-text-color: #1e0f00;
$top-text-color: #fff;

/*Main colors*/
$top-rectangle-color: #5EC4CD;
$popup-bg-color: rgba(255,255,255,0.8);
$popup-color: #2d449e;
$branch-bg-color: #e8e8e8;
$branch-card-color: #fff;
$branch-card-inverse-color: #1b1b1b;
$footer-bg-color:#2b2b2b;

/*Popup*/
$popup-input-border-color: rgba(255,255,255,0.1);
$popup-descr-color:  rgba(255,255,255,0.4);
$popup-cross-color: #A60000;

/*Shaper*/
$rectangle-color: #faee36;
$round-color: #14b368;
$rounds-color: #ee2e7b;
$triangle-color: #7dd0dd;